# Core
fastapi==0.115.6
uvicorn[standard]==0.40.0
pydantic==2.12.5
pydantic-settings==2.12.0
python-dotenv==1.2.1

# LangChain
langchain==1.2.0
langchain-core==1.2.5
langchain-community==0.4.1
langchain-google-genai==4.1.2
langchain-qdrant==1.1.0

# Embeddings & Vector DB
sentence-transformers==5.2.0
qdrant-client==1.16.2

# LLM & Document Processing
google-genai==1.56.0
pypdf==6.5.0